---

import Layout from "../layouts/Layout.astro"

---

<Layout>
    <section>
        <h1>¿Quien soy?</h1>
        <p>Soy Medica Dermatologa con más de 20 años de experiencia en el mercado. Nacida en Peru y graduada en la carreda de Medicia en la Facultada de Medicina de Rosario.</p>
        <br/>
        <p>Busco dar solucion a tus problemas de piel, pelo y uñas</p>
    </section>
</Layout>