---
import MenuIcon from "../assets/menu.svg"
---

<header class="">
    <section class="bg-red-500">
        <p>Llamanos al Movil 3413612371</p>
    </section>
    <nav class="hidden md:flex ">
        <ul>
          <li>inicio</li>
          <li>tratamientos</li>
          <li>contacto</li> 
        </ul>

       
    </nav>
</header>