<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Landing page Gina</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import "tailwindcss";

	@theme {
		---color-color1:  #ff0301; 
		----color-color2: #ff2b1e;	
		----color-color3: #ff543a;
		----color-color4: #ff7c57;
		----color-color5: #ffa574;
	}

</style>
